<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Your Account</title>
  </head>
  <body>
    <h3>Account Verification</h3>
    <p>
      Hi
      <b>{{name}}</b>, thanks for registering an account with us.
    </p>
    <p>Please verify your account by clicking the
      <b><a href="{{link}}">verify your account</a></b>
      link</p>
    <p>Kindly note that this link will be valid for the next 15 minutes only</p>
  </body>
</html>